.flexbox-contianer {
	display: flex;
	/*justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;*/
	/*flex-direction: column;
	justify-content: center;
	align-items: center;*/

}

.flexbox-item {
	width: 200px;
	margin: 10px;
	border: 3px solid #333;
	background-color: #dfdfdf;
}

.flexbox-item-1 {
	min-height: 100px;
	flex-shrink: 0;

}

.flexbox-item-2 {
	min-height: 200px;
}

.flexbox-item-3 {
	min-height: 300px;
	flex-grow: 1;
}