.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;


main {
    max-width: 400px;
    padding: 70px;
    background-color: #fff;
    
}

.form-group {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    gap: 8px;
}

input {
    padding: 10px 50px;
    
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 100px;
    border: none;
    border-radius: 3px;
}